.planTable td:first-child,
.planTable th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #bdbdbd;
  display: inline-block;
  color: rgb(63, 62, 62);
  border-color: #bdbdbd;
  height: 2.1rem;
}
.planTable td:last-child, 
.planTable th:last-child {
  position:sticky;
  right:0;
  z-index:1;
  background-color: #bdbdbd;
}
.planTable tr th{
  /* border-top: 0.1rem solid rgb(245, 242, 242);
  border-bottom: 0.1rem solid rgb(241, 236, 236); */
  background-color: #9ea7aa;
  color: rgb(63, 62, 62);
}

.planTable tr td:nth-child(2) {
   background-color: #bdbdbd;
  position: sticky;
  left: 100px;
  z-index:0;
  height: 2.1rem;
  min-width: 75px;
  max-width: 100px;
  text-overflow: ellipsis;
} 
.planTable tr th:nth-child(2) { 
 background-color: #9ea7aa;
  position: sticky;
  left: 100px;
  z-index:0;
  height: 2.1rem;
  min-width: 75px;
  max-width: 100px;
  text-overflow: ellipsis;
} 
