#clock {
    font-family: 'Share Tech Mono', monospace;
    // color: #4b4949;
    // text-align: center;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // // color: #373838;
    // text-shadow: 0 0 20px rgb(99, 101, 102),  0 0 20px rgba(10, 10, 10, 0);
}
    .time {
        letter-spacing: 0.05em;
        font-size: 20px;
        padding: 5px 0;
        color: rgb(2, 2, 3);
        // background-color: black;
        text-shadow: 0 0 20px rgb(5, 5, 5),  0 0 20px rgba(5, 5, 5, 0);
        font-family: 'Share Tech Mono', monospace;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }

    .ListItemScrol::-webkit-scrollbar{
        display: none;
    }
