.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0); */
}

.loader{
    left: 50%;
    top: 40%;
    z-index: 1000;
    position: absolute;
}

